.index {
    .header {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    .name {
        color: grey;
    }
    .email {
        border: 1px solid pink
    }
    .password {
        border: 1px solid greenyellow
    }
}